<div style="width: 450px;height: 700px;">
    <div class="text-center">
        <label for="" class="text-center">Nuevo Cliente</label>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label body-Reg-L">Nombre del Cliente</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Apellido" [(ngModel)]="customerInfo.customerName">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label body-Reg-L">Direccion</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="San José, Tibás" [(ngModel)]="customerInfo.customerAddress">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label body-Reg-L">Identificación</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="01230456" [(ngModel)]="customerInfo.DNI">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label body-Reg-L">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@email.com" [(ngModel)]="customerInfo.customerEmail">
    </div>

    <div class="text-center">
        <button class="addButton" (click)="addCliente()">Agregar</button>
    </div>
</div>
